.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.hero-section {
  background-image: url("../assets/Hero-bg.png");
  background-size: cover;
  background-position: center;
  height: 500px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}
.logo {
  font-weight: 900;
  font-size: 30px;
  color: #4e47ff;
}
button {
  background-color: #5b56e8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #2323ee;

  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.hero-content{
    text-align: center;
    color: #252432;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 600;
     
}